* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bang-cau{
  height: 200px;
}

.item{
  width: 18px;
  height: 18px;

}

.item-le{
  width: 15px;
  height: 15px;
  background: blue;
  border-radius: 50%;
}

.item-chan{
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
}
.item-xap{
  
  width: 15px;
  height: 15px;
  background: #17a2b8;
  border-radius: 50%;
}
.item-tu{
  width: 15px;
  height: 15px;
  background: #ffc107;
  border-radius: 50%;
}