* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Tahoma;
}
.container {
  background-color: rgb(21, 5, 92);
  width: 100%;
  min-height: 100vh;
}
.header .header-main {
  width: 100%;
  text-align: center;
}
.header .hd-top {
  text-align: center;
}
.hd-top h1 {
  color: #fff;
  padding-top: 20px;
}
